/* styles.css */
.choice-box {
    -fx-font-size: 16px; /* Adjust the font size as needed */
}

.choice-box .list-cell {
    -fx-font-size: 16px; /* Adjust the font size as needed */
    -fx-opacity: 0;
    -fx-transition: opacity 0.5s, translateY 1s;
}

.choice-box .list-cell:hover {
    -fx-background-color: #e0e0e0;
    -fx-background-insets: 0, 0 0 1 1;
    -fx-background-radius: 3px;
    -fx-background-color: linear-gradient(from 0px 0px to 0px 100px, derive(-fx-text-box-border, -10%), -fx-text-box-border);
}

.choice-box .list-cell:showing {
    -fx-opacity: 1;
    -fx-translate-y: -20;
    -fx-keyframes: showAnimation;
}

@keyframes showAnimation {
    0% { -fx-translate-y: -40; opacity: 0; }
    50% { -fx-translate-y: -20; opacity: 0.5; }
    100% { -fx-translate-y: 0; opacity: 1; }
}
